body{
    margin: 0px;
    padding: 0px;
}

/* ____КОНТЕНТ___ */

.Ht1 {
    font-weight: bold;
}
.bold-text{
    font-style: italic;
    font-weight: bold;
}
.list-cont{
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
    display: inline-block;
    
}
.list-cont>p{
    text-align: center;
    font-weight: bold;
}


/* КАРТИНКИ  */
.logo-html-DOCT{
    max-height: 320px;
    max-width: 300px;
}
.logo-html5{
    max-height: 100px;
    max-width: 90px;
}
.logo-html{
    max-width: 80px;
}


/* КОНТЕЙНЕР -HTML- */
.img-cont>p{
    background-color: rgb(207, 207, 247);
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
}
.img-cont{
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}
.img-cont>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------- */

/* ВЕРХНЯ НАВ. ПАНЕЛЬ */

.nav-cont{
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 224, 253);
   
}
.nav-cont>nav>ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.nav-cont>nav>ul>li>a{
    display: block;
    padding: 5px;
    border-style: solid;
    border-width: 0.3px;
}


@media( max-width:900px ){
    .nav-cont{
        flex-direction: column;
    }

}
/* ------------------- */

.text-page{
    padding: 15px;
}

.page{
    display: flex;
    justify-content: center;
}

.header{
    width: 13%;
    background-color: rgb(224, 224, 253);
}

.section{
    width: 83%;
}